* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#hero {
    height: 600px;
    width: 100vw;
    background: #0000;
    overflow: hidden;
}

#hero img {
   object-fit: cover;
   opacity: 0.4;
}
